/* .glitch {
    text-shadow: red -2px 0, cyan 2px 0;
} */

.spacing{
    margin-top: 50px;
    margin-bottom: 50px;
    animation: line 1s linear infinite alternate;
}
.extra_spacing{
    margin-top: 120px;
    margin-bottom: 100px;
    animation: line 1s linear infinite alternate;
}

@keyframes line {
    from {text-shadow: 10px 0px 50px #ca1affc7;} 
    to {text-shadow: -10px 0px 50px #17f2fa;} 
}



  
.border-button {
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid #6f158b00;
    border-radius: 3px;
    background-color: transparent;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 0 10px #ca1affc7;
}

.border-button:hover {
    background-color: #333;
    color: #fff;
    box-shadow: 0 0 30px 20px #ca1affc7;
    
}
