
body {
    margin: 0;
    padding: 0;
    background-image: url("../images/background8.svg");
    background-position: center;
    background-size: 105%;
    font-family: 'Ubuntu';
}

.wireframe_debug {
    border: 5px solid red;
}


/* main page container */
.container {
    margin-left: 30%;
    margin-right: 25%;
    margin-top: 50px;
    min-width: 400px;
    width: auto;
}

footer {
    margin-top: 60px;
    margin-bottom: 0px;
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    margin-bottom: 20px;
}

.image-container {
    float: left;
    position: relative;
    top: -40px;
    left: -50px;
    width: 200px;
    box-shadow:
        20px 20px 40px 10px #ca1aff91;
    border-radius: 10px; 
}

.image-container img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px; 
}

.image-container:before {
    content: "";
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    z-index: -1;
}

/* for virgil */
.image-container_vergil {
    float: left;
    position: relative;
    top: -23px;
    left: -60px;
    width: 200px;
}

.image-container_vergil img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px; 
}

.image-container_vergil:before {
    content: "";
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    z-index: -1;
}


.column_container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.column_background_main {
    flex: 1;
    padding: 20px;
    background-color: #31363F;
    
    margin: 0 -150px;
    border-radius: 10px;
    z-index: -1;
    background: rgba(204, 204, 204, 0.144);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 3.5px );
    -webkit-backdrop-filter: blur( 3.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.listas_general {
    clear: both;
    color: #EEEEEE; 
}

.profile_image-container {
    position: relative;
    margin-left: -20px;
    margin-bottom: 20px;
}

.fruzanitas_text {
    background-color: #333;
    color: #fff;
    padding: 20px;
    margin-top: 50px;
    margin-right: 70px;
    margin-left: 60px;
    margin-bottom: 60px;
    min-width: 100px;
}

.typing_borders {
    padding: 30px;
}

/* split  */
.slit_container {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    width: 60%;
    margin: 0 auto;
    /* border: 5px solid red; */
}

.split_background_main {
    flex: 1;
    padding: 20px;
    margin: 0 10px;
/*     border: 5px solid red; */
    min-width: 150px;
}




/* button scroll settings */
#scroll_top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    background-color: #17f2fa;
    color: white;
    width: 40px; 
    height: 40px; 
    border-radius: 50%; 
    text-align: center;
    line-height: 40px; 
    font-size: 20px; 
    text-decoration: none;
    transition: background-color 0.3s ease, box-shadow 0.3s ease, opacity 0.3s ease; /* Combine transition effects */
    box-shadow: 0 0 50px #17f2fa; 
    opacity: 0; 
}

#scroll_top.show {
    opacity: 1;
}

#scroll_top:hover {
    background-color: #0ebfe9; 
    box-shadow: 0 0 10px #0000004d; 
}

#scroll_top:target {
    display: inline-block;
}

#scroll_top::before {
    content: "\2B9D"; /* seta up */
    transition: content 0.3s ease; 
}

#scroll_top[data-direction="bottom"]::before {
    content: "\2B9F"; /* seta down */
}

html {
    scroll-behavior: smooth;
}